*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.logo{
    margin-top: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
}
.name{
    font-size: 0.4rem;
    color: #333;
    margin-top: 0.3rem;
}
.version{
    margin-top: 0.1rem;
    color: #999;
    font-size: 0.28rem;
}
.detail{
    color: #888;
    padding: 0.2rem 0.5rem;
}
.detail em{
    display: block;
    font-style: normal;
    font-size: 0.28rem;
}
.bottom{
    position: absolute;
    bottom: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 2rem;
    height: 0.8rem;
    background: #f6d649;
    color: #333;
    font-size: 0.3rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
}
a{
    color: #333;
    text-decoration: none;
}
.notice{
    color: #999;
    font-size: 0.26rem;
    margin-top: 0.2rem;
}