<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
				<key>dateExpires</key>
				<string>2020/10/7</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AdaptationKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AnimatorSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MagiRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MoyaChain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OperatorSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>227FFC5E72C3D813F27E515C1243585389D54318</string>
						<key>dateExpires</key>
						<string>2020/10/7</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZMHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>87MVER2MH8</string>
						<key>name</key>
						<string>Henan ZX-IOT Technology CO.,LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>87MVER2MH8.com.zx-iot.zddw.xinxiang</string>
				<key>com.apple.developer.team-identifier</key>
				<string>87MVER2MH8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>87MVER2MH8.com.zx-iot.zddw.xinxiang</string>
				</array>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ebe18cbf-9a25-4401-8cd5-1f2f98259d22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zx-iot.zddw.xinxiang</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>87MVER2MH8</string>
				<key>name</key>
				<string>Henan ZX-IOT Technology CO.,LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
